# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\practise\projects\Pagination\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
